<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <div class="badge">{{hero.id}}</div>
            <div class="name">{{hero.name}}</div>
        </button>
    </li>
</ul>

<div *ngIf="selectedHero">

    <h2>Hero Details: {{selectedHero.name | uppercase}}</h2>

    <span>Id: {{selectedHero.id}}</span><br>
    <label for="name" >Name: </label>
    <input type="text" id="name" [(ngModel)]="selectedHero.name">

</div>