<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <!-- <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <div class="badge">{{hero.id}}</div>
            <div class="name">{{hero.name}}</div>
        </button> -->
        <div class="hero-container">
            <a routerLink="/detail/{{hero.id}}">
                <div class="badge">{{hero.id}}</div>
                <div class="name">{{hero.name}}</div>
            </a>
            <button class="delete" title="delete hero" (click)="delete(hero)">X</button>
        </div>
    </li>
</ul>

<br>

<div id="add-hero">
    <label for="new-hero">Hero Name</label>
    <input id="new-hero" type="text" #heroName/>

    <button class="save-button" (click)="add(heroName.value)">
        Add Hero
    </button>
</div>

<!-- <app-messages></app-messages> -->